* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background: linear-gradient(to right top,#938dff, #8cbfff);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(5rem);
}

.circle1,.circle2,.circle3{
    background: linear-gradient(to right bottom, rgba(255,198,166,1), rgba(255, 232, 115, 0.3));
    height: 964px;
    width: 964px;
    border-radius: 50%;
    position: fixed;
    filter: blur(250px);
}

.circle1{
    top: 20%;
    right: -10%
}

.circle2{
    bottom: -20%;
    left: 30%;
}

.circle3{
    top: -5%;
    left: -5%;
}
