.page {
  
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-abel);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.menu{
  color: black;

  margin: auto;

  padding: 2%;

  width: 30%;
  height: auto;

  background-color: linear-gradient(#ffffff20, #ffffff8b);
  outline: 3px solid #ffffffe1;
  border-radius: 15px;
}

.logo{

  margin: auto;

  width: 184px;
  height: 184px;

  border-radius: 50%;
  overflow: hidden;

  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);

}


.logoImage{
  width: 100%;
  height: auto;

}

.title{
  margin: auto;

  padding: 5%;

  text-align: center;
}

.button{
  color: black;
  margin: auto;

  padding-top: 4%;
  padding-bottom: 4%;

  text-align: center;

  width: 50%;
  height: 50%;
}

.button > button {
  font-size: 25px;

  background-color: #f2f2f200;

  border: 0px;
}

.button > button:hover {
  color: aqua;

}
